.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    color: #2f80ed;
    margin-right: 48px;
    position: absolute;
    top: 50%;
    right: 0;
}

.feynman__link:hover {
    transition: .2s linear;
    opacity: 70%;
}